.tile {
    display: inline-block;
}

.tile>span {
    display: inline-block;
    vertical-align: bottom;
    width: calc(var(--piece-width) * var(--piece-scale));
    height: calc(var(--piece-height) * var(--piece-scale));
}

.whiteTile {
    background-color: white;
}

.blackTile {
    background-color: rgb(75, 75, 75);
}

.clicked {
    background-color: rgb(0, 175, 0);
}

.recentlyMoved {
    background-color: rgba(100, 255, 255, 0.2);
}

.possible {
    background-color: rgba(255, 255, 50, 0.6);
}

.check {
    background-color: rgb(255, 0, 0);
}

.checkmate {
    background-color: rgb(175, 0, 0);
}

.stalemate {
    background-color: rgb(0, 0, 255);
}