.__7 {
    --flip: 0;
}

.__2 {
    --flip: -1;
}

.__9 {
    --flip: 20;
    --offset: 20;
}

.__A {
    --offset: 1;
}

.__B {
    --offset: 2;
}

.__C {
    --offset: 3;
}

.__D {
    --offset: 4;
}

.__E {
    --offset: 5;
}

.__F {
    --offset: 6;
}

.__G {
    --offset: 7;
}

.__H {
    --offset: 8;
}

.above {
    display: block;
}

.above div {
    display: inline-block;
}

.below {
    display: block;
}

.below div {
    display: inline-block;
}

.at {
    display: block;
}

.at div {
    display: inline-block;
}

.promo {
    position: absolute;
    left: calc( ( max( calc(0 - (var(--offset) - 9 * var(--flip) * var(--flip))), calc(var(--offset) - 9 * var(--flip) * var(--flip))) - 0.5) * var(--piece-width) * var(--piece-scale));
    top: 18px;
    pointer-events: all;
    visibility: visible;
}

.__Q {
    pointer-events: none;
    visibility: hidden;
}