:root {
  /* --piece-scale: calc((attr(body.width) - 20px) / 8 / 200); */
  --piece-scale: 0.4;
  --piece-height: 200px;
  --piece-width: 200px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media only screen and (min-width: 330px) {
  :root {
    --piece-scale: 0.2;
  }
}

@media only screen and (min-width: 500px) {
  :root {
    --piece-scale: 0.3;
  }
}

@media only screen and (min-width: 810px)  {
  :root {
    --piece-scale: 0.5
  }
} */
