.piece-holder {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    padding: 2px;
    margin: 5px;
  }
  
  .big-piece {
    --piece-scale: 1;
  }
  
  .small-piece {
    --piece-scale: 0.3;
  }
  
  